*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.mobile{
    display: none;
}
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, rgb(105, 71, 71), rgb(160, 98, 40));
    z-index: -1
   
}

/*sTYLING THE NAVBAR*/

nav {
    display: flex;
    justify-content: space-around;
    padding: 5px 15px 0 15px;
    min-height: 10vh;
    color: white;
}

.logo {
    text-align:left;
    display: grid;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

nav a:hover{
    color: rgb(245, 175, 84);
}

ul {
    display: flex;
    align-items:center;
}

.pclist li {
    display:inline;
    list-style:none;
    margin-left: 10px;
    font-size: 21px;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}

nav li:hover{
    background-color: white;
}

.hamburger{
    display: none;
}

/* The focal point of he landing page
displaying the background image and discount announcements*/


section{
    display:flex;
    height:80vh;
    justify-content:center;
    align-items:center;
}

.hero{
    height: 60%;
    width: 100%;
    position:relative;
}

.hero img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.mantra{
    position: absolute;
    top: 70%;
    left: 15%;
    font-size: 120px;
    font-weight: bold;
    transform: translate(-20%, -70%);
    z-index: 3;
    color: white;
}

.hero::after{
    content: '';
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.2;
}



/*Offer section*/

.offers{
  margin-top: 100px;
}
.offers h2{
  text-align: center;
}

.offer-container{
  display:flex;
  justify-content: space-evenly;
}

.offer1{
  width: 20%;
  border: 2px solid black;
}







/* Mobile View*/
@media (max-width: 767px) {
.pclist {
      display: none;
}
ul{
    display:block;
}  
.pc {
    display: none;
}

.mobile{
    display: block;
}

.mantra {
    font: size 100px;
}
.container {
    width: 100%;
    height: 30vh;
    margin: auto;
    z-index: 5;
  }
  
  .navbar {
    width: 100%;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }
  
  .navbar .menu-items {
    display: flex;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container li:hover{
      color: white;
  }
  .navbar .nav-container a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
      font-weight: bolder;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: white;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
    padding-top: 120px;
    background:linear-gradient(to left, rgb(105, 71, 71), rgb(160, 98, 40));
    height: 50vh;
    width: 100vw;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: white;
  }

  a .logo{
      font-weight: bold;
  }
  
  .menu-items a:hover{
      color:rgb(245, 175, 84);
  }
  
.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }



.mantra{
    position: absolute;
    top: 70%;
    left: 5%;
    font-size: 75px;
    font-weight: bold;
    transform: translate(-20%, -70%);
    z-index: 3;
    color: white;
}


/*mobile offer section*/
.offer1{
  width: 100%;
}
} 